[package]
name = "boredphoton"
version = "0.1.0"
authors = ["SOFe <sofe2038@gmail.com>"]
edition = "2018"
license = "AGPL-3.0"

[dependencies]
config = "0.10.1"
crossbeam = "0.8.0"
log = "0.4.11"
pretty_env_logger = "0.4.0"
serde = {version = "1.0.117", features = ["derive"]}
serde_json = "1.0.60"
serenity = "0.9.2"
tokio = {version = "0.3.5", features = ["rt-multi-thread", "macros"] }
async-trait = "0.1.42"